@mixin importFont($font-family, $pathName) {
  @font-face {
    font-family: $font-family;
    src: url($pathName);
  }
}

@include importFont(
  "Blinker-reg",
  "../public/fonts/Blinker/Blinker-Regular.ttf"
);
@include importFont(
  "Blinker-thin",
  "../public/fonts/Blinker/Blinker-Light.ttf"
);
@include importFont("Blinker-Bold", "../public/fonts/Blinker/Blinker-Bold.ttf");

html,
body {
  font-family: "Blinker-reg", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: rgb(75, 75, 75);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

address {
  font-style: normal;
}
