@import "./gradients";

@mixin importFont($font-family, $pathName) {
  @font-face {
    font-family: $font-family;
    src: url($pathName);
  }
}

@include importFont(
  "Blinker-reg",
  "../public/fonts/Blinker/Blinker-Regular.ttf"
);
@include importFont(
  "Blinker-thin",
  "../public/fonts/Blinker/Blinker-Light.ttf"
);
@include importFont("Blinker-Bold", "../public/fonts/Blinker/Blinker-Bold.ttf");

html,
body {
  font-family: "Blinker-reg", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
}

a {
  text-decoration: none;
  color: rgb(75, 75, 75);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

address {
  font-style: normal;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.light-bg-image,
.dark-bg-image {
  background-size: 10%;
}

.light-bg-image {
  background-image: url("../public/imgs/bg_light.png");
}

.dark-bg-image {
  background-image: url("../public/imgs/bg_dark.png");
}

.light-bg-glass {
  @include gradient(light, translucent);
}

.dark-bg-glass {
  @include gradient(dark, translucent);
}

.light-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.dark-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.light-card {
  @include gradient(light, opaque);
  padding: $xs;
}

.dark-card {
  @include gradient(dark, opaque);
  padding: $xs;
}

.nav-open {
  transform: translateY(0%);
}

.nav-closed {
  transform: translateY(-100%);
}
